[mysqld]
# other variables here
general_log = 1
slow_query_log=ON
tmp_table_size = 64M
max_heap_table_size = 64M
innodb_buffer_pool_size = 4G # (adjust value here, 50%-70% of total RAM)
innodb_log_file_size = 1G
innodb_flush_log_at_trx_commit = 1 # may change to 2 or 0
innodb_flush_method = O_DIRECT
innodb_buffer_pool_instances = 4
slow_query_log=ON
